### 행정구역 정보 읽고, 분석하기
1. read_csv() 함수로 csv file 읽어서 DataFrame 객체생성하기
2. 특정열과 행을 선택(selection)할때 loc과 iloc 이라는 property 사용하기
3. 컬럼명 변경하기
4. 상관관계 분석(인구수와 면적간의 상관관계)
5. 시각화(Visualiztion)

In [1]:
import pandas as pd
print(pd.__version__)

data = pd.read_csv('data/data_draw_korea.csv')
print(type(data))
#행과열의 길이
print(data.shape)

1.5.3
<class 'pandas.core.frame.DataFrame'>
(229, 8)

In [2]:
data.head(3)

   Unnamed: 0     인구수 shortName   x  y       면적 광역시도 행정구역
0           0  202520        강릉  11  4  1040.07  강원도  강릉시
1           1   25589    고성(강원)   9  0   664.19  강원도  고성군
2           2   86747        동해  11  5   180.01  강원도  동해시

In [3]:
data.tail()

     Unnamed: 0     인구수 shortName  x   y      면적  광역시도 행정구역
224         224  127462        제천  8  10  882.47  충청북도  제천시
225         225   34480        증평  6  11   81.84  충청북도  증평군
226         226   62809        진천  5  11  406.08  충청북도  진천군
227         227  790216        청주  6  12  932.51  충청북도  청주시
228         228  198077        충주  6  10  983.70  충청북도  충주시

In [4]:
data.sample(3)

     Unnamed: 0    인구수 shortName  x   y      면적  광역시도 행정구역
211         211  51776        서천  2  13  363.40  충청남도  서천군
223         223  86441        음성  5  10  521.05  충청북도  음성군
60           60  56734        창녕  7  15  533.09  경상남도  창녕군

In [5]:
print(f'컬럼명 : {data.columns}')
print(f'인덱스 : {data.index}')

컬럼명 : Index(['Unnamed: 0', '인구수', 'shortName', 'x', 'y', '면적', '광역시도', '행정구역'], dtype='object')
인덱스 : RangeIndex(start=0, stop=229, step=1)

In [6]:
print(type(data.values))
data.values

<class 'numpy.ndarray'>

array([[0, 202520, '강릉', ..., 1040.07, '강원도', '강릉시'],
       [1, 25589, '고성(강원)', ..., 664.19, '강원도', '고성군'],
       [2, 86747, '동해', ..., 180.01, '강원도', '동해시'],
       ...,
       [226, 62809, '진천', ..., 406.08, '충청북도', '진천군'],
       [227, 790216, '청주', ..., 932.51, '충청북도', '청주시'],
       [228, 198077, '충주', ..., 983.7, '충청북도', '충주시']], dtype=object)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  229 non-null    int64
 1   인구수         229 non-null    int64
 2   shortName   229 non-null    object
 3   x           229 non-null    int64
 4   y           229 non-null    int64
 5   면적          229 non-null    float64
 6   광역시도        229 non-null    object
 7   행정구역        229 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 14.4+ KB

In [8]:
data.dtypes

Unnamed: 0      int64
인구수             int64
shortName      object
x               int64
y               int64
면적            float64
광역시도           object
행정구역           object
dtype: object

In [9]:
data['인구수'].dtypes

dtype('int64')

In [10]:
data.describe()

       Unnamed: 0           인구수           x           y           면적
count  229.000000  2.290000e+02  229.000000  229.000000   229.000000
mean   114.000000  2.110898e+05    6.117904   11.262009   435.419795
std     66.250786  2.074378e+05    3.320469    6.040898   381.612549
min      0.000000  8.392000e+03    0.000000    0.000000     2.800000
25%     57.000000  4.955900e+04    3.000000    6.000000    54.000000
50%    114.000000  1.401590e+05    6.000000   11.000000   436.400000
75%    171.000000  3.216180e+05    9.000000   16.000000   692.800000
max    228.000000  1.125461e+06   13.000000   25.000000  1817.940000

In [11]:
#인구수 1개의 컬럼을 선택
print(type(data['인구수']))
data['인구수']

<class 'pandas.core.series.Series'>

0      202520
1       25589
2       86747
3       63986
4       76733
        ...
224    127462
225     34480
226     62809
227    790216
228    198077
Name: 인구수, Length: 229, dtype: int64

In [13]:
# 인구수 컬럼의 집계함수
print(f"인구수 최대값 {data['인구수'].max():,}")
print(f"인구수 최소값 {data['인구수'].min():,}")
print(f"인구수 평균 {round(data['인구수'].mean(),2):,}")
print(f"인구수 표준편차 {round(data['인구수'].std(),2):,}")
print(f"인구수 중간값 {data['인구수'].median():,}")
data['인구수'].quantile([0.25, 0.75])

인구수 최대값 1,125,461
인구수 최소값 8,392
인구수 평균 211,089.78
인구수 표준편차 207,437.84
인구수 중간값 140,159.0

0.25     49559.0
0.75    321618.0
Name: 인구수, dtype: float64

In [14]:
#인구수가 가장 많은 행정구역
max_pop = data['인구수'].max()
data.loc[data['인구수'] == max_pop]

    Unnamed: 0      인구수 shortName  x  y      면적 광역시도 행정구역
30          30  1125461        수원  6  9  121.09  경기도  수원시

In [17]:
#unique한 광역시도명
data['광역시도'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [18]:
#광역시도 Row counting
data['광역시도'].value_counts()

경기도        31
서울특별시      25
경상북도       23
전라남도       22
강원도        18
경상남도       18
부산광역시      16
충청남도       15
전라북도       14
충청북도       11
인천광역시      10
대구광역시       8
대전광역시       5
광주광역시       5
울산광역시       5
제주특별자치도     2
세종특별자치시     1
Name: 광역시도, dtype: int64

In [20]:
#경기도에 속한 행정구역은?  log[row , col]
data.loc[data['광역시도'] == '경기도',['행정구역','인구수','면적']]

    행정구역      인구수       면적
18   가평군    53497  843.040
19   고양시   955384  267.330
20   과천시    63227   35.813
21   광명시   327111   38.500
22   광주시   290210  431.840
23   구리시   175676   33.300
24   군포시   273302   36.350
25   김포시   326523  276.640
26  남양주시   610300  458.440
27  동두천시    90398   95.680
28   부천시   805473   53.440
29   성남시   911628  141.820
30   수원시  1125461  121.090
31   시흥시   381412  134.400
32   안산시   668089  144.780
33   안성시   173061  554.200
34   안양시   566558   58.520
35   양주시   191266  310.310
36   양평군    95614  877.080
37   여주시   100669  608.640
38   연천군    41076  695.230
39   오산시   200793   42.740
40   용인시   915005  591.500
41   의왕시   149080   54.000
42  의정부시   408220   81.590
43   이천시   190537  461.020
44   파주시   385528  672.560
45   평택시   423763  452.310
46   포천시   140159  826.380
47   하남시   150061   93.100
48   화성시   555129  688.100

In [22]:
#경기도에 속한 행정구역 인구수가 많은 순서대로 정렬, 인덱스 reset
data.loc[data['광역시도'] == '경기도',['행정구역','인구수','면적']].sort_values(by='인구수',ascending=False)

    행정구역      인구수       면적
30   수원시  1125461  121.090
19   고양시   955384  267.330
40   용인시   915005  591.500
29   성남시   911628  141.820
28   부천시   805473   53.440
32   안산시   668089  144.780
26  남양주시   610300  458.440
34   안양시   566558   58.520
48   화성시   555129  688.100
45   평택시   423763  452.310
42  의정부시   408220   81.590
44   파주시   385528  672.560
31   시흥시   381412  134.400
21   광명시   327111   38.500
25   김포시   326523  276.640
22   광주시   290210  431.840
24   군포시   273302   36.350
39   오산시   200793   42.740
35   양주시   191266  310.310
43   이천시   190537  461.020
23   구리시   175676   33.300
33   안성시   173061  554.200
47   하남시   150061   93.100
41   의왕시   149080   54.000
46   포천시   140159  826.380
37   여주시   100669  608.640
36   양평군    95614  877.080
27  동두천시    90398   95.680
20   과천시    63227   35.813
18   가평군    53497  843.040
38   연천군    41076  695.230