### 행정구역 정보 읽고, 분석하기
1. read_csv() 함수로 csv file 읽어서 DataFrame 객체생성하기
2. 특정열과 행을 선택(selection)할때 loc과 iloc 이라는 property 사용하기
3. 컬럼명 변경하기
4. 상관관계 분석(인구수와 면적간의 상관관계)
5. 시각화(Visualiztion)

In [5]:
import pandas as pd
print(pd.__version__)

data = pd.read_csv('data/data_draw_korea.csv')
print(type(data))
#행과열의 길이
print(data.shape)

1.5.3
<class 'pandas.core.frame.DataFrame'>
(229, 8)

In [8]:
data.head(3)

   Unnamed: 0     인구수 shortName   x  y       면적 광역시도 행정구역
0           0  202520        강릉  11  4  1040.07  강원도  강릉시
1           1   25589    고성(강원)   9  0   664.19  강원도  고성군
2           2   86747        동해  11  5   180.01  강원도  동해시

In [9]:
data.tail()

     Unnamed: 0     인구수 shortName  x   y      면적  광역시도 행정구역
224         224  127462        제천  8  10  882.47  충청북도  제천시
225         225   34480        증평  6  11   81.84  충청북도  증평군
226         226   62809        진천  5  11  406.08  충청북도  진천군
227         227  790216        청주  6  12  932.51  충청북도  청주시
228         228  198077        충주  6  10  983.70  충청북도  충주시

In [13]:
data.sample(3)

     Unnamed: 0     인구수 shortName  x   y      면적   광역시도 행정구역
222         222   47599        옥천  6  13  537.13   충청북도  옥천군
179         179   52823        영암  1  21  544.48   전라남도  영암군
129         129  342909      서울광진  7   6   17.05  서울특별시  광진구

In [14]:
print(f'컬럼명 : {data.columns}')
print(f'인덱스 : {data.index}')

컬럼명 : Index(['Unnamed: 0', '인구수', 'shortName', 'x', 'y', '면적', '광역시도', '행정구역'], dtype='object')
인덱스 : RangeIndex(start=0, stop=229, step=1)

In [16]:
print(type(data.values))
data.values

<class 'numpy.ndarray'>

array([[0, 202520, '강릉', ..., 1040.07, '강원도', '강릉시'],
       [1, 25589, '고성(강원)', ..., 664.19, '강원도', '고성군'],
       [2, 86747, '동해', ..., 180.01, '강원도', '동해시'],
       ...,
       [226, 62809, '진천', ..., 406.08, '충청북도', '진천군'],
       [227, 790216, '청주', ..., 932.51, '충청북도', '청주시'],
       [228, 198077, '충주', ..., 983.7, '충청북도', '충주시']], dtype=object)

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  229 non-null    int64
 1   인구수         229 non-null    int64
 2   shortName   229 non-null    object
 3   x           229 non-null    int64
 4   y           229 non-null    int64
 5   면적          229 non-null    float64
 6   광역시도        229 non-null    object
 7   행정구역        229 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 14.4+ KB

In [18]:
data.dtypes

Unnamed: 0      int64
인구수             int64
shortName      object
x               int64
y               int64
면적            float64
광역시도           object
행정구역           object
dtype: object

In [20]:
data['인구수'].dtypes

dtype('int64')

In [21]:
data.describe()

       Unnamed: 0           인구수           x           y           면적
count  229.000000  2.290000e+02  229.000000  229.000000   229.000000
mean   114.000000  2.110898e+05    6.117904   11.262009   435.419795
std     66.250786  2.074378e+05    3.320469    6.040898   381.612549
min      0.000000  8.392000e+03    0.000000    0.000000     2.800000
25%     57.000000  4.955900e+04    3.000000    6.000000    54.000000
50%    114.000000  1.401590e+05    6.000000   11.000000   436.400000
75%    171.000000  3.216180e+05    9.000000   16.000000   692.800000
max    228.000000  1.125461e+06   13.000000   25.000000  1817.940000

In [25]:
#인구수 1개의 컬럼을 선택
print(type(data['인구수']))
data['인구수']

<class 'pandas.core.series.Series'>

0      202520
1       25589
2       86747
3       63986
4       76733
        ...
224    127462
225     34480
226     62809
227    790216
228    198077
Name: 인구수, Length: 229, dtype: int64

In [26]:
# 인구수 컬럼의 집계함수
print(f"인구수 최대값 {data['인구수'].max()}")
print(f"인구수 최소값 {data['인구수'].min()}")
print(f"인구수 평균 {data['인구수'].mean()}")
print(f"인구수 표준편차 {data['인구수'].std()}")
print(f"인구수 중간값 {data['인구수'].median()}")
data['인구수'].quantile([0.25, 0.75])

인구수 최대값 1125461
인구수 최소값 8392
인구수 평균 211089.77729257641
인구수 표준편차 207437.8370475227
인구수 중간값 140159.0

0.25     49559.0
0.75    321618.0
Name: 인구수, dtype: float64